In [8]:
# Import the libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [14]:
# Loading Iris dataset
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
# Drop the species column
iris = iris.drop(labels = 'species', axis = 1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [34]:
# Add columns
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [35]:
# Calculations

mean = [np.mean(iris['sepal_length']), 
        np.mean(iris['sepal_width']),
        np.mean(iris['sepal_sum']), 
        np.mean(iris['petal_length']), 
        np.mean(iris['petal_width']),
        np.mean(iris['petal_sum'])]

        #OR the line of code below can be used

mean = list(iris.mean())

summary_dict = {'mean':mean}

summary_df = pd.DataFrame(data = summary_dict)

summary_df

       mean
0  5.843333
1  3.057333
2  3.758000
3  1.199333
4  8.900667
5  4.957333

In [36]:
iris.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
sepal_sum       8.900667
petal_sum       4.957333
dtype: float64

In [37]:
# Caclulates the standard deviation
iris.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
sepal_sum       0.889272
petal_sum       2.507689
dtype: float64

In [38]:
# Calculates the minimum
iris.min()

sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
sepal_sum       6.8
petal_sum       1.2
dtype: float64

In [39]:
# Finds the max
iris.max()

sepal_length     7.9
sepal_width      4.4
petal_length     6.9
petal_width      2.5
sepal_sum       11.7
petal_sum        9.2
dtype: float64

In [48]:
pip install tabulate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (0.8.10)

In [51]:
from tabulate import tabulate

table = [['Citeria','Mean','St. Dev','Min','Max'],
        ['Sepal_Length','5.843333', '0.825301', '4.3', '7.9'],
        ['Sepal_Width','3.057333',	'0.434411',	'2',	'4.4'],
        ['Sepal_Sum','8.900667',	'0.886303',	'6.8',	'11.7'],
        ['Petal_Length','3.758',	'1.759404',	'1',	'6.9'],
        ['Petal_Width','1.199333',	'0.759693',	'0.1',	'2.5'], 
        ['Petal_Sum','4.957333',	'2.499316',	'1.2',	'9.2']]                   
          
print(tabulate(table))

------------  --------  --------  ---  ----
Citeria       Mean      St. Dev   Min  Max
Sepal_Length  5.843333  0.825301  4.3  7.9
Sepal_Width   3.057333  0.434411  2    4.4
Sepal_Sum     8.900667  0.886303  6.8  11.7
Petal_Length  3.758     1.759404  1    6.9
Petal_Width   1.199333  0.759693  0.1  2.5
Petal_Sum     4.957333  2.499316  1.2  9.2
------------  --------  --------  ---  ----